/* 思源黑體 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* 黑體 */
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

@media screen and (min-width: 1200px) {
	.header .header-title p {
		font-size: 2.2em;
	}
}

@media screen and (min-width: 992px) {
	.menu .navbar #navbarTogglerDemo02 .nav-item-right {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.menu .navbar #navbarTogglerDemo01 {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.header .header-title p {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 576px) {
	.header .header-title p {
		font-size: 1.5em;
	}
}

html, body {
	background-color: #fafafa;
	font-family: 'Lucida Grande', 'Noto Sans TC', 'cwTeXHei';
	font-size: 0.95em;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

/* header */
.header {
	background-color: #245D8F;
	color: white;
}

.header .header-title {
	padding: .5rem 1rem;
}

.header .header-photo {
	padding: 0;
}

/* menu */
.menu {
	padding: 0px;
}

.menu .navbar {
	background-color: #ADD8E6;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.menu .navbar button {
	border: 0;
}

.menu .navbar button:focus {
	box-shadow: none;
	outline: none;
}

.menu .navbar .dropdown-menu {
	background-color: #ADD8E6;
	border-radius: 0rem;
}

.menu .navbar .dropdown-menu a {
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 3px solid #ADD8E6;
}

.menu .navbar .dropdown-menu a:hover {
	background-color: #F0F8FF;
	border-bottom: 3px solid #245D8F;
}

.menu .navbar-brand, .menu .nav-link {
	color: black !important;
	height: 45px;
	line-height: 45px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}

.menu .nav-link:hover {
	background-color: #F0F8FF;
	border-bottom: 3px solid #245D8F;
}

/* content */
.content {
	background-color: #F0F8FF;
	padding: 15px 0 0 0;
}

.content .content-center {
	padding-left: 30px;
	padding-right: 30px;
}

.content .content-left, .content .content-center, .content .content-right
	{
	padding-bottom: 15px;
}

/* content left */
.content .card {
	border: 0px;
	border-radius: 0rem;
}

.content .card-header {
	background-color: white;
	padding: 0px;
}

.content .card-header button {
	background-color: #ADD8E6;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0px;
	border-radius: 0rem;
}

.content .card:first-child .card-header button {
	border-top: 3px solid #245D8F;
}

.content .card:last-child .card-header button {
	border-bottom: 3px solid #245D8F;
}

.content .card-header button:hover {
	background-color: #F0F8FF;
	border-right: 3px solid #245D8F;
}

.content .card-header button:focus {
	box-shadow: none;
}

.content .card-body {
	background-color: #F0F8FF;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* content center */
.content .table-unit {
	margin-bottom: 20px;
}

.content .table-header {
	color: #245D8F;
}

.content .table-content {
	background-color: white;
	padding: 10px;
	border-top: 3px solid #245D8F;
	border-bottom: 3px solid #245D8F;
}

.content .table-content tr {
	border-bottom: 1px dotted gray;
}

.content .table-content tr td .array {
	width: 10px;
}

.content .table-content tr td p {
	margin: 5px;
}

.content .table-footer {
	text-align: right;
	padding-top: 5px;
}

/* content right */
.content .content-right .right-title {
	color: #245D8F;
}

.content .content-right .right-content {
	border-top: 3px solid #245D8F;
	border-bottom: 3px solid #245D8F;
}

.content .content-right .right-content .btn {
	color: black;
	background-color: #ADD8E6;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 0px;
	border-bottom: 1px solid #E9E9E9;
	border-left: 3px solid #ADD8E6;
	border-right: 0px;
	border-radius: 0rem;
	margin: 0;
}

.content .content-right .right-content .btn:last-child {
	border-bottom: 0px !important;
}

.content .content-right .right-content .btn:hover {
	background-color: #F0F8FF;
	border-top: 0px;
	border-left: 3px solid #245D8F;
	border-right: 0px;
}

.content .content-right .right-content .btn:focus {
	box-shadow: none;;
}

/* footer */
.footer {
	background-color: #ADD8E6;
	padding: 10px;
}

.footer .footer-content {
	margin-bottom: 20px;
	text-align: center;
}

.footer .footer-content p {
	font-size: 0.8em;
	color: #000000;
	margin-bottom: 1px;
}